**/__pycache*
env/*
pyvenv.cfg

# Monodepth2
models/monodepth2/models
models/monodepth2/assets/*_disp.jpeg
models/monodepth2/assets/*_disp.npy
models/monodepth2/assets/test_image_*.npy
models/monodepth2/assets/test_image_*.jpeg