**/__pycache*
env/*
pyvenv.cfg
**/.DS_Store

## macOS gitignore

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Old assets
assets/car.jpg

# Outputs
outputs/*
output_images/*

# Monodepth2
models/monodepth2/models

# Boosting
models/boosting/midas/model.pt
models/boosting/pix2pix/checkpoints
